.row {
    display: flex;
}
.admin-panel {
    justify-content: space-between
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 30px;
}

.hide {
    display: none;
}
.show{
    display: block;
}