.project-edit-form {
  background: white;
  position: fixed;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
  width: 50%;
  background: white;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-y: auto;
}
.project-edit-form .project-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.project-edit-form .project-edit-header p {
  font-size: 32px;
}
.project-edit-form .project-edit-header button {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../../assets/close-img-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all;
}
.project-edit-form .project-edit-header button:hover {
  background-image: url(../../../assets/close-img-orange.png);
}
.project-edit-form .edit-sex-and-switch {
  gap: 20px;
}
.project-edit-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.project-edit-form form label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.project-edit-form form .sex-select-edit > p {
  margin-bottom: 10px;
}
.project-edit-form form .sex-select-edit input {
  height: 15px;
}
.project-edit-form form .sex-select-edit label {
  margin-right: 10px;
}
.project-edit-form form .age-wrapper {
  gap: 10px;
}
.project-edit-form form .edit-project-btn {
  width: 250px;
  height: 40px;
  background-image: linear-gradient(92.88deg, #ee7c25 9.16%, #EB6A09 43.89%, #ff6f00 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.project-edit-form form .edit-project-btn:hover {
  box-shadow: rgba(235, 106, 9, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (max-width: 992px) {
  .project-edit-form {
    width: 80%;
    height: 90vh;
  }
  .project-edit-form form textarea {
    height: 100px;
  }
}
@media (max-width: 576px) {
  .project-edit-form {
    width: 90%;
    padding: 20px;
    overflow-y: scroll;
  }
  .project-edit-form .project-edit-header > p {
    font-size: 18px;
  }
  .project-edit-form .project-edit-header > button {
    width: 25px;
    height: 25px;
  }
  .project-edit-form .sex-select-row {
    flex-direction: column;
  }
  .project-edit-form .edit-sex-and-switch {
    flex-direction: column;
    gap: 0;
  }
  .project-edit-form form input {
    height: 35px;
  }
  .project-edit-form form .edit-project-btn {
    width: 100%;
  }
  .project-edit-form form .sex-select-row {
    font-size: 20px;
  }
  .project-edit-form form .sex-select-row input {
    margin-right: 10px;
  }
  .project-edit-form form .sex-select-row > div {
    margin-bottom: 10px;
  }
  .project-edit-form form .sex-select-wrapper {
    flex-direction: column;
  }
}