.project-edit-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 40px;
  width: 50%;
  background: white;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.project-edit-form .project-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.project-edit-form .project-edit-header p {
  font-size: 32px;
}
.project-edit-form .project-edit-header button {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../../assets/close-img-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all;
}
.project-edit-form .project-edit-header button:hover {
  background-image: url(../../../assets/close-img-orange.png);
}
.project-edit-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.project-edit-form form .sex-select-edit > p {
  margin-bottom: 10px;
}
.project-edit-form form .sex-select-edit input {
  height: 15px;
}
.project-edit-form form .sex-select-edit label {
  margin-right: 10px;
}
.project-edit-form form .age-wrapper {
  justify-content: space-between;
  gap: 10px;
}
.project-edit-form form .age-wrapper > input {
  width: 100%;
}
.project-edit-form form select {
  padding: 0px 20px;
  height: 40px;
}
.project-edit-form form input {
  height: 40px;
  padding: 0px 20px;
}
.project-edit-form form textarea {
  padding: 20px;
  resize: none;
}
.project-edit-form form button {
  width: 250px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 10px;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all;
}
.project-edit-form form button:hover {
  border: 1px solid #EB6A09;
  color: #EB6A09;
}

@media (max-width: 992px) {
  .project-edit-form {
    width: 80%;
    height: 90vh;
  }
  .project-edit-form form textarea {
    height: 100px;
  }
}
@media (max-width: 576px) {
  .project-edit-form {
    width: 90%;
    padding: 20px;
  }
  .project-edit-form .project-edit-header > p {
    font-size: 18px;
  }
  .project-edit-form .project-edit-header > button {
    width: 25px;
    height: 25px;
  }
  .project-edit-form .sex-select-row {
    flex-direction: column;
  }
  .project-edit-form form input {
    height: 35px;
  }
  .project-edit-form form button {
    width: 100%;
  }
  .project-edit-form form .sex-select-row {
    font-size: 20px;
  }
  .project-edit-form form .sex-select-row input {
    margin-right: 10px;
  }
  .project-edit-form form .sex-select-row > div {
    margin-bottom: 10px;
  }
}