* {
    box-sizing: border-box;
}
.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
}
.row{
    display: flex;
}

@import 'reset';


@media(max-width: 1500px) {
    .container {
        width: 1200px;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 100%;
    }
}