.search-and-filter .search {
  border: 1px solid black;
  padding: 28px;
  margin-bottom: 5px;
}
.search-and-filter .search .search-and-btn {
  border: 1px solid black;
}
.search-and-filter .search .search-and-btn .search-input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 200px;
  height: 30px;
  padding: 0px 10px;
  border: none;
  outline: none;
}
.search-and-filter .search .search-and-btn > button {
  width: 30px;
  height: 30px;
  background-image: url(../../../assets/close-img-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.search-and-filter .search .search-and-btn > button:hover {
  background-image: url(../../../assets/close-img-orange.png);
}
.search-and-filter .filter {
  border: 1px solid black;
  padding: 20px;
}
.search-and-filter .filter .filter-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.search-and-filter .filter .filter-section-header {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.search-and-filter .filter .filter-item {
  margin-bottom: 5px;
}
.search-and-filter .filter > p {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.search-and-filter .filter .filter-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}
.search-and-filter .filter .filter-age input {
  width: 50px;
  height: 30px;
  margin-right: 20px;
  padding: 0px 13px;
  font-size: 18px;
}
.search-and-filter .filter input {
  margin-right: 10px;
}
.search-and-filter .filter label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s all;
}
.search-and-filter .filter label:hover {
  color: #f18a01;
}
.search-and-filter .filter .filter-buttons {
  width: 210px;
}
.search-and-filter .filter .filter-buttons > button {
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
.search-and-filter .filter .filter-buttons > button:hover {
  color: #fff;
  background-color: #f18a01;
  border-color: #f18a01;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.search-and-filter .filter .filter-buttons > button:active {
  box-shadow: none;
  transform: translateY(0);
}