.footer-wrapper {
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 150px;
    background-image: url(./../../assets/footer-logo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}