.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "a b" "c c";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
.grid-wrapper .login-form-input {
  height: 50px;
  width: 300px;
  padding: 0px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: 0.3s all;
}
.grid-wrapper .login-form-input:focus {
  outline-color: #EB6A09;
}
.grid-wrapper .login-form-input:focus-within {
  color: #EB6A09;
}
.grid-wrapper .login-input {
  grid-area: a;
}
.grid-wrapper .password-input {
  grid-area: b;
}
.grid-wrapper .submit-button {
  grid-area: c;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 21px;
  width: 200px;
  background: transparent;
  border: 1px solid black;
  transition: 0.3s all;
  cursor: pointer;
}
.grid-wrapper .submit-button:hover {
  border: 1px solid #EB6A09;
  color: #EB6A09;
}

.registration-wrapper {
  width: 500px;
}

.registration-header {
  width: 500px;
}