@import './../../../fonts';

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-header {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    @include raleway700();
}

.grid-wrapper {
    display: grid;
    grid-template-areas: 
    "a b"
    "c c";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    .login-form-input {
        height: 50px;
        width: 300px;
        padding: 0px 10px;
        @include sans400();
        font-size: 18px;
        transition: .3s all;
        &:focus {
            outline-color: #EB6A09;
        }
        &:focus-within {
            color: #EB6A09;
        }
    }
    .login-input {
        grid-area: a;
    }
    .password-input {
        grid-area: b;
    }
    .submit-button {
        grid-area: c;
        @include mainButton();
    }
}


// Mobile
@media(max-width: 576px) {
    .grid-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c";
        .submit-button{
            width: 100%;
        }
    }
}