.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "a b" "c c";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
.grid-wrapper .login-input {
  grid-area: a;
  height: 40px;
  width: 300px;
  padding: 0px 10px;
}
.grid-wrapper .password-input {
  grid-area: b;
  height: 40px;
  width: 300px;
  padding: 0px 10px;
}
.grid-wrapper .submit-button {
  grid-area: c;
  width: 200px;
}

.registration-wrapper {
  width: 500px;
}

.registration-header {
  width: 500px;
}