.projects-content {
    width: 100%;
}

.project-edit-bg {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 20px;
    .project-item {
        border: 1px solid black;
        text-align: center;
        padding: 20px;
        position: relative;
        .project-item-section {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: left;
            margin-right: 30px;
            >div{
                color: #f18a01;
            }
            .project-info {
                white-space: pre-wrap;
                // word-wrap: break-word;
                word-break: normal;
            }
        }
    }
}
.no-search-results {
    font-size: 42px;
    text-align: center;
}
