.projects-content {
  width: 100%;
  margin-bottom: 50px;
}

.project-edit-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.projects {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.projects .confirmation {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
}
.projects .confirmation .confirmation-content {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 40px;
}
.projects .confirmation .confirmation-content > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 21px;
}
.projects .confirmation .confirmation-content .confirmation-row {
  justify-content: space-between;
  gap: 20px;
}
.projects .confirmation .confirmation-content .confirmation-row > button {
  background-image: linear-gradient(92.88deg, #ee7c25 9.16%, #EB6A09 43.89%, #ff6f00 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 30px;
}
.projects .confirmation .confirmation-content .confirmation-row > button:hover {
  box-shadow: rgba(235, 106, 9, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
.projects .project-item {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  position: relative;
  transition: 0.3s all;
}
.projects .project-item .project-item-section {
  margin-bottom: 20px;
}
.projects .project-item .project-item-section .synchroner-link {
  margin-bottom: 5px;
}
.projects .project-item .bold-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.projects .project-item .project-header {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s all;
}
.projects .project-item .is-actual-state {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.projects .project-item .project-firs-descroption-row {
  justify-content: space-between;
  align-items: center;
}
.projects .project-item .project-row {
  gap: 10px;
  align-items: center;
}
.projects .project-item .project-sex {
  gap: 5px;
}
.projects .project-item .project-sex > div {
  color: white;
  background-color: black;
  padding: 3px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.projects .project-item .project-country {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-right: 5px;
}
.projects .project-item .project-location {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #444;
}
.projects .project-item .project-category {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #EB6A09;
  color: white;
  padding: 5px;
}
.projects .project-item .project-item-btn {
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 6px 12px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s all;
  border-radius: 5px;
}
.projects .project-item .project-item-btn:hover {
  background-color: #EB6A09;
}
.projects .project-item .delite-btn {
  background-color: rgb(177, 33, 33);
}
.projects .project-item .edit-btn {
  background-color: rgb(211, 104, 43);
}
.projects .project-item .project-age-row {
  gap: 15px;
}
.projects .project-item .textfield-content {
  line-height: 21px;
  margin-top: 5px;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.projects .project-item .copy-btn {
  padding: 8px 12px;
}
.projects .project-item:hover .project-header {
  color: #EB6A09;
}

.no-search-results {
  font-size: 42px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1500px) {
  .projects {
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .projects .project-item {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .projects .project-item .project-firs-descroption-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .projects .project-item .project-firs-descroption-row .project-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .projects .project-item .project-item-buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
}