@import './../../fonts';

.header{
    border-bottom: 1px solid black;
    min-height: 100px;
    .upper-line {
        height: 30px;
        background-color: #EB6A09;
    }
    .header-content {
        min-height: 70px;
        align-items: center;
        justify-content: space-between;
        .header-logo {
            background-image: url(../../assets/header-logo.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 200px;
            height: 50px;
        }
        .user-name-and-btn {
            gap: 20px;
            align-items: center;
            @include raleway700();
            .logout-btn {
                @include mainButton();
                height: 50px;
            }
        }
    }
    .logout-header-content {
        display: grid;
        justify-content: center;
        padding: 10px 0px;
    }
}

// Tablet
@media(max-width: 992px) {
    .header{
        .header-content {
            .user-name-and-btn {
                .header-user{
                    font-size: 14px;
                    text-align: right;
                }
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .header{
        // min-height: 110px;
        .header-content {
            .header-logo {
                width: 100px;
                height: 30px;
            }
            .user-name-and-btn {
                flex-direction: column;
                align-items: flex-end;
                gap: 7px;
                padding: 5px 0px;
            }
        }
    }
}
