.header {
  border-bottom: 1px solid black;
  min-height: 100px;
}
.header .upper-line {
  height: 30px;
  background-color: #EB6A09;
}
.header .header-content {
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
}
.header .header-content .header-logo {
  background-image: url(../../assets/header-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
}
.header .header-content .user-name-and-btn {
  gap: 20px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.header .header-content .user-name-and-btn .logout-btn {
  border: 1px solid black;
  background: transparent;
  padding: 7px 15px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  transition: 0.3s all;
}
.header .header-content .user-name-and-btn .logout-btn:hover {
  border: 1px solid #EB6A09;
  color: #EB6A09;
}
.header .logout-header-content {
  display: grid;
  justify-content: center;
  padding: 10px 0px;
}

@media (max-width: 992px) {
  .header .header-content .user-name-and-btn .header-user {
    font-size: 14px;
    text-align: right;
  }
}
@media (max-width: 576px) {
  .header .header-content .header-logo {
    width: 100px;
    height: 30px;
  }
  .header .header-content .user-name-and-btn {
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    padding: 5px 0px;
  }
}