.header {
  min-height: 100px;
}
.header .upper-line {
  height: 30px;
  background-color: #EB6A09;
}
.header .header-content {
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.header .header-content .header-logo {
  background-image: url(../../assets/header-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;
}
.header .header-content .user-name-and-btn {
  gap: 20px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.header .header-content .user-name-and-btn .logout-btn {
  background-image: linear-gradient(92.88deg, #ee7c25 9.16%, #EB6A09 43.89%, #ff6f00 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
}
.header .header-content .user-name-and-btn .logout-btn:hover {
  box-shadow: rgba(235, 106, 9, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
.header .logout-header-content {
  display: grid;
  justify-content: center;
  padding: 10px 0px;
}

@media (max-width: 992px) {
  .header .header-content .user-name-and-btn .header-user {
    font-size: 14px;
    text-align: right;
  }
}
@media (max-width: 576px) {
  .header .header-content .header-logo {
    width: 100px;
    height: 40px;
  }
  .header .header-content .user-name-and-btn {
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    padding: 5px 0px;
  }
  .header .header-content .user-name-and-btn .logout-btn {
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
  }
}