@use 'fonts';

.project-form {
    border: 1px solid black;
    padding: 40px;
    width: 50%;
    @include fonts.sans400();
    >p{
        @include fonts.raleway700();
        font-size: 32px;
        margin-bottom: 20px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        .sex-select {
            >p{
                margin-bottom: 10px;
            }
            input{
                height: 15px;
            }
            label{
                margin-right: 10px;
            }
        }
        select {
            padding: 0px 20px;
            height: 40px;
        }
        input{
            @include fonts.sans400();
            height: 40px;
            padding: 0px 20px;
        }
        textarea {
            padding: 20px;
            resize: none;
        }
        button {
            width: 200px;
            @include fonts.mainButton(16px);
        }
        .age-row {
            justify-content: space-between;
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .project-form {
        width: 100%;
    }
}

// Tablet
@media(max-width: 992px) {
    .project-form{
        .add-project-header {
            font-size: 26px;
        }
        form{
            .age-row {
                gap: 10px;
                >input{
                    width: 100%;
                }
            }
        }
    }
}  

// Mobile
@media(max-width: 576px) {
    .project-form {
        padding: 20px;
        .add-project-header {
            font-size: 21px;
        }
        form{
            .sex-select{
                .sex-select-wrapper {
                    flex-direction: column;
                }
            }
            button{
                width: 100%;
                font-size: 16px;
            }
        }
    }
}