.project-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
  width: 50%;
  background: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.project-form > p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.project-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.project-form form input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.project-form form .add-project-btn {
  width: 220px;
  background-image: linear-gradient(92.88deg, #ee7c25 9.16%, #EB6A09 43.89%, #ff6f00 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.project-form form .add-project-btn:hover {
  box-shadow: rgba(235, 106, 9, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
.project-form form .age-row {
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .project-form {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .project-form .add-project-header {
    font-size: 26px;
  }
  .project-form form .age-row {
    gap: 10px;
  }
  .project-form form .age-row > input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .project-form {
    padding: 20px;
  }
  .project-form .add-project-header {
    font-size: 21px;
  }
  .project-form form .sex-select-wrapper {
    flex-direction: column;
  }
  .project-form form .add-project-btn {
    width: 100%;
    font-size: 16px;
  }
}